<%= flot_includes %>
<%= javascript_include_tag "flotomatic/jquery.flot.stack.js", :cache => false %>

  <h2>Burndown for <%= @sprint.name %></h2>

  <% form_tag :method => :get do %>
    <%= hidden_field_tag "project_id", params[:project_id] %>
    <%= select_tag "sprint_id", options_for_select(@sprints.map {|s| [s.name, s.id]}, @sprint.id) %>
    <%= submit_tag "Change Sprint" %>
  <% end %>
  

  <div class='flot_dataset_picker'>
        <%#= flot_selections %>
  </div>

  <%= flot_canvas("burndown") %>

  <!-- do the actual plotting... -->
  <% flot_graph("burndown", @burndown) do %>
        burndown_flotomatic.labelFormatter = function(label, series) {
            // series is the series object for the label
            return '<a href="#' + label + '">' + label + '</a>';
        };
        
        <%= flot_plot("burndown") %>

        <%= flot_tooltip("burndown") %>

  <% end %>
