<% content_for :header_tags do %>
  <script type="text/javascript" charset="utf-8">
  	$(function() {
      jQuery.noConflict();
      var $j = jQuery;

      defect_count = 1;
      category_options_html = '<%= options_for_select(Defect::CATEGORIES).gsub("\n", "") %>';
      status_options_html = '<%= options_for_select(IssueStatus.all.map {|s| [s.name == "Won\'t Fix" ? "Wont Fix" : s.name, s.id]}).gsub("\n", "") %>';

      $j("#issue_add_defect").click(function() {
        $j("ol#defects").append('<li>'
          + '<select name="defects[' + defect_count + '][category]">' + category_options_html + '</select>'
          + '<select name="defects[' + defect_count + '][status_id]">' + status_options_html + '</select>'
          + '<br>'
          +  '<textarea name="defects[' + defect_count + '][description]"></textarea></li>')
        defect_count += 1;
        return false;
      });
  	});
  </script>
<% end %>

  <p>
    <%= form.select :sprint_id, sprints.map {|s| [s.name, s.id]}, {:default => Sprint.backlog.id, :required => true} %>
  </p>

  <p>
    <%= form.select :qa, Sprint::QA_STATUSES, :required => true %>
  </p>
  
  <p>
    <%= form.select :estimation_id, estimations.map {|e| [e.name, e.id]}, :required => true %>
  </p>

  <p>
    <%= form.text_field :backlog_rank %>
  </p>
  
  <p id="defects_form">
    <label><%= l(:field_add_defect) %></label>
    <label class="floating">
      <%= link_to "Add Defect", "#", :id => "issue_add_defect" %>
    </label>
  </p>

  <ol id="defects">
  </ol>
