<% html_title "Developer Stats" -%>

<% content_for :header_tags do %>
  <style>
    table.list tr td { text-align:center;}
    table.list tr.highlight { background-color: #ccc;}
  </style>
<% end %>

<h2>Developer Stats</h2>

<table class="list" style="border: 1px solid #999">
  <tr style="border-bottom: 1px solid #999">
    <th>Sprint</th>
    <% @developers.each do |name| %>
      <th colspan="2" style="border-left: 1px solid #999"><%= name %></th>
    <% end %>
    <th colspan="2" style="border-left: 1px solid #999">Total</th>
  </tr>
  

  <% unless @current_stats.empty? %>
    <tr style="border-bottom: 1px solid #999">
      <td><%= @current_stats.first.sprint.name %></td>
      <% @current_stats.each do |stat| %>
        <td style="border-left: 1px solid #999; background: #eef"><%= stat.completed_points %></td>
        <td style="border-left: 1px dashed #999; background: #eef"><%= stat.committed_points %></td>
      <% end %>
      <td>
        <%= @current_stats.sum {|s| s.completed_points} %>
      </td>
      <td style="border-left: 1px dashed #999;">
        <%= @current_stats.sum {|s| s.committed_points} %>
      </td>
    </tr>
  <% end %>

  <% @stats.group_by {|s| s.sprint_name}.each do |sprint, stat| %>
    <tr>
      <td><%= sprint %></td>
      <% stat.each do |stat| %>
        <td style="width: 80px; border-left: 1px solid #999; background: #eef"><%= stat.completed_points %></td>
        <td style="width: 80px; border-left: 1px dashed #999; background: #eef"><%= stat.committed_points %></td>
      <% end %>
        <td style="width: 80px; border-left: 1px solid #999">
          <%= @stats.select {|stat| stat.sprint_name == sprint}.sum {|s| s.completed_points} %>
        </td>
        <td style="width: 80px; border-left: 1px dashed #999;">
          <%= @stats.select {|stat| stat.sprint_name == sprint}.sum {|s| s.committed_points} %>
        </td>
        
      </td>
    </tr>
  <% end %>
  
  <tr style="border-top: 1px solid #999">
    <th></th>
    <% @developers.each do |name| %>
      <% completed = @stats.select {|stat| stat.user_name == name}.map(&:completed_points) %>
      <% committed = @stats.select {|stat| stat.user_name == name}.map(&:committed_points) %>

      <th style="border-left: 1px solid #999">
        <%= completed.sum / completed.size %>
      </th>
      <th style="border-left: 1px dashed #999;">
        <%= committed.sum / committed.size %>
      </th>
    <% end %>
    <th style="border-left: 1px solid #999">
      <%= @stats.sum {|s| s.completed_points} / @sprints.size %>
    </th>
    <th style="border-left: 1px dashed #999;">
      <%= @stats.sum {|s| s.committed_points} / @sprints.size %>
    </th>
  </tr>
</table>
