<%= flot_includes %>
<%= javascript_include_tag "flotomatic/jquery.flot.stack.js", :cache => false %>

<% html_title "Developer Stats" -%>

<% content_for :header_tags do %>
  <style>
    table.list tr td { text-align:center;}
    table.list tr.highlight { background-color: #ccc;}
  </style>
<% end %>

<h2>Actual vs. Committed Points</h2>

<table class="list" style="border: 1px solid #999">
  <tr style="border-bottom: 1px solid #999">
    <th>Sprint</th>
    <% @developers.each do |name| %>
      <th colspan="2" style="border-left: 1px solid #999"><%= name %></th>
    <% end %>
    <th colspan="2" style="border-left: 1px solid #999">Total</th>
  </tr>
  

  <% unless @current_stats.empty? %>
    <tr style="border-bottom: 1px solid #999">
      <td><%= @current_stats.first.sprint.name %></td>
      <% @current_stats.each do |stat| %>
        <td style="border-left: 1px solid #999; background: #eef"><%= stat.completed_points %></td>
        <td style="border-left: 1px dashed #999; background: #eef"><%= stat.committed_points %></td>
      <% end %>
      <td style="border-left: 1px solid #999;">
        <%= @current_stats.sum {|s| s.completed_points} %>
      </td>
      <td style="border-left: 1px dashed #999;">
        <%= @current_stats.sum {|s| s.committed_points} %>
      </td>
    </tr>
  <% end %>

  <% @stats.group_by {|s| s.sprint_name}.each do |sprint, stat| %>
  <tr style="border-bottom: 1px solid #999">
      <td><%= sprint %></td>
      <% stat.each do |stat| %>
        <td style="width: 75px; border-left: 1px solid #999; background: #eef"><%= stat.completed_points %></td>
        <td style="width: 75px; border-left: 1px dashed #999; background: #eef"><%= stat.committed_points %></td>
      <% end %>
        <td style="width: 75px; border-left: 1px solid #999">
          <%= @stats.select {|stat| stat.sprint_name == sprint}.sum {|s| s.completed_points} %>
        </td>
        <td style="width: 75px; border-left: 1px dashed #999;">
          <%= @stats.select {|stat| stat.sprint_name == sprint}.sum {|s| s.committed_points} %>
        </td>
        
      </td>
    </tr>
  <% end %>
  
  <tr style="border-top: 1px solid #999">
    <th></th>
    <% @developers.each do |name| %>
      <% completed = @stats.select {|stat| stat.user_name == name}.map(&:completed_points) %>
      <% committed = @stats.select {|stat| stat.user_name == name}.map(&:committed_points) %>

      <th style="border-left: 1px solid #999">
        <%= completed.sum / completed.size %>
      </th>
      <th style="border-left: 1px dashed #999;">
        <%= committed.sum / committed.size %>
      </th>
    <% end %>
    <th style="border-left: 1px solid #999">
      <%= @stats.sum {|s| s.completed_points} / @sprints.size %>
    </th>
    <th style="border-left: 1px dashed #999;">
      <%= @stats.sum {|s| s.committed_points} / @sprints.size %>
    </th>
  </tr>
</table>


<h2>Carryover...</h2>

<div class='flot_dataset_picker'>
      <%#= flot_selections %>
</div>

<%= flot_canvas("carryover") %>

<!-- do the actual plotting... -->
<% flot_graph("carryover", @carryover) do %>
      carryover_flotomatic.labelFormatter = function(label, series) {
          // series is the series object for the label
          return '<a href="#' + label + '">' + label + '</a>';
      };
      
      <%= flot_plot("carryover") %>

      <%= flot_tooltip("carryover") %>

<% end %>

<br>

<h2>Days to Pending...</h2>

<div class='flot_dataset_picker'>
      <%#= flot_selections %>
</div>

<%= flot_canvas("days_to_pending") %>

<!-- do the actual plotting... -->
<% flot_graph("days_to_pending", @days_to_pending) do %>
      days_to_pending_flotomatic.labelFormatter = function(label, series) {
          // series is the series object for the label
          return '<a href="#' + label + '">' + label + '</a>';
      };
      
      <%= flot_plot("days_to_pending") %>

      <%= flot_tooltip("days_to_pending") %>

<% end %>

<br>

