<%= flot_includes %>
<%= javascript_include_tag "flotomatic/jquery.flot.stack.js", :cache => false %>

<% html_title "Developer Stats" -%>

<% content_for :header_tags do %>
  <style>
  </style>
<% end %>

<h2>Velocity</h2>

<div class='flot_dataset_picker'>
      <%#= flot_selections %>
</div>

<%= flot_canvas("completed_points") %>

<!-- do the actual plotting... -->
<% flot_graph("completed_points", @completed_points) do %>
      completed_points_flotomatic.labelFormatter = function(label, series) {
          // series is the series object for the label
          return '<a href="#' + label + '">' + label + '</a>';
      };
      
      <%= flot_plot("completed_points") %>

      <%= flot_tooltip("completed_points") %>

<% end %>
