<tr class="<%= 'red' if commitment.new_record? %>">
  <td>
    <%= f.hidden_field :issue_id, :value => commitment.story.id %>
    <%= link_to commitment.story.id, issue_path(:project_id => @project, :id => commitment.story.id), :popup => true %>
  </td>
  <td>
    <%= f.select :priority, @priorities.map {|pr| [pr.name, pr.id] }, :selected => (commitment.story.priority_id || @unprioritized.id) %>
  </td>
  <td class="left">
    <%= link_to commitment.story.subject, "#", :id => "link_#{dom_id(commitment.story)}" %>
  </td>
  <td>
    <%= f.select :sprint_id, Sprint.all.map {|u| [u.name, u.id] }, :selected => commitment.story.sprint_id %>
  </td>
  <td>
    <%= f.select :estimation_id, Estimation.all.map {|u| [u.name, u.id] }, {:selected => commitment.story.estimation_id}, :class => 'estimation' %>
  </td>
  <td>
    <%= f.select :user_id, @developers.map {|u| [u.name, u.id] }, {:selected => commitment.story.assigned_to_id, :include_blank => true}, :class => 'developer' %>
  </td>
  <td>
    <%= commitment.story.category %>
  </td>
  <td>
    <%#= f.check_box :requires_clarification %>
  </td>
</tr>

<tr style="display:none" id="<%= dom_id(commitment.story) %>">
  <td>
    <%= link_to "edit", edit_issue_path(:project_id => @project, :id => commitment.story.id), :popup => true %>
  </td>
  <td class="left" colspan="2">
    <%= f.text_area :description, :class => 'biggy', :style => 'height: 200px' %>
  </td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>