<% html_title "#{@sprint.name} Commitments" -%>

<% content_for :header_tags do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" %>
  
  <script type="text/javascript" charset="utf-8">
    $(function() {
      jQuery.noConflict();
    	var $j = jQuery;
    	point_counts = new Hash();
    	estimations = new Hash();
    	var old_estimate = 0;
    	var old_developer = 0;
    	
    	<% @developers.each do |developer| %>
    	  point_counts['<%= developer.id %>'] = 0;
    	<% end %>
    	
    	<% Estimation.all.each do |estimation| %>
    	  estimations['<%= estimation.id %>'] = <%= estimation.value %>;
    	<% end %>
    	
    	<% @commitments.map(&:story).each do |story| %>
    	  $j("#link_<%= dom_id(story) %>").click(function() {
    	    $j("#<%= dom_id(story) %>").toggle();
    	    return false;
    	  });
    	<% end %>
    	
      $j(".developer").focus(function () {
        old_developer = this.value;
      }).change(function() {
        estimation = estimations[ $j(this).parent('td').prev('td').children('select').val() ];
        developer_id = this.value;
        
        point_counts[developer_id] += estimation;
        point_counts[old_developer] -= estimation;

        node = $j('#points_' + developer_id);
        node.empty();
        node.html(point_counts[developer_id]);

        node = $j('#points_' + old_developer);
        node.empty();
        node.html(point_counts[old_developer]);
    	});

      $j(".estimation").focus(function () {
        old_estimate = estimations[this.value];
      }).change(function() {
        developer_id = $j(this).parent('td').next('td').children('select').val();
        estimation = estimations[this.value];
        node = $j('#points_' + developer_id);

        point_counts[developer_id] += (estimation - old_estimate);

        node.empty();
        node.html(point_counts[developer_id]);
    	});
    	
    	$j(".estimation").each(function() {
        developer_id = $j(this).parent('td').next('td').children('select').val();
        estimation = estimations[this.value];
        point_counts[developer_id] += estimation;
        node = $j('#points_' + developer_id);
        node.empty();
        node.html(point_counts[developer_id]);
    	});
  	});
  </script>
  
  <style>
    table.list {border: 1px solid #666;}
    table.list tr td { text-align:center;}
    table.list tr.red td { color:#903; font-weight:bold;}
    table.list tr td.left { text-align:left;}
  </style>
<% end %>

<h2>Commitments for the <%= @sprint.name %> sprint</h2>

<table class="list">
  <tr>
    <th></th>
    <% @developers.each do |developer| %>
      <th><%= developer.name %></th>
    <% end %>
  </tr>
  <tr id="point_count">
    <th>Points</th>
    <% @developers.each do |developer| %>
      <td id="points_<%= developer.id %>"></td>
    <% end %>
  </tr>
</table>

<% form_for @sprint, :url => bulk_update_project_sprint_commitments_path(@project, @sprint) do |f| %>
  <table class="list">
    <tr>
      <th>Tracker</th>
      <th>Title</th>
      <th>Sprint</th>
      <th>Story<br>Points</th>
      <th><%= link_to "Developer", project_sprint_commitments_path(@project, @sprint, :sort => "developer") %></th>
      <th><%= link_to "Category", project_sprint_commitments_path(@project, @sprint, :sort => "category") %></th>
      <th>?</th>
    </tr>
  
    <% @commitments.select {|c| c.new_record?}.each do |commitment| %>
      <% fields_for "new_commitment_attributes[]", commitment do |f| %>
        <%= render :partial => 'commitment', :locals => {:commitment => commitment, :f => f} %>
      <% end %>
    <% end %>

    <% @commitments.reject {|c| c.new_record?}.each do |commitment| %>
      <% fields_for "commitment_attributes[]", commitment do |f| %>
        <%= render :partial => 'commitment', :locals => {:commitment => commitment, :f => f} %>
      <% end %>
    <% end %>
    
  </table>

  <br>
  <center><%= f.submit "Update Commitments" %></center>
<% end %>
