<!DOCTYPE html>
<head>
  <style>
    table#dashboard {
      width: 100%;
      font-family: Courier, monospace;
    }
    table#dashboard th {
      font-size: 15px;
      padding: 4px;
    }
    table#dashboard th:first-child {
      background: white;
    }
    table#dashboard tr td {
      border-right: 1px dashed #999;
      padding: 4px;
    }
    table#dashboard tr td.name {
      border: none;
      width: 80px;
    }
    
    #dashboard .card {
      float:left;
      border: 1px solid #999;
      background: #ffc;
      width: 200px;
      font-size: 12px;
      color: #111;
      margin: 2px;
      padding: 3px;
    }
    
    #dashboard .bug {
      background: #900;
      color: white;
      width: 50px;
    }

    #dashboard .distraction {
      background: #0d152b;
      color: white;
      width: 50px;
    }
    
    #dashboard .hover {
      background: #eee;
      border: 1px thin black;
      display: none;
      z-index: 1000;
      width: 192px;
      position: absolute;
    }

    #dashboard .bug a:active,
    #dashboard .bug a:link,
    #dashboard .bug a:visited,
    #dashboard .bug a:hover {
      color: white;
    }
    
    .counter {
      min-width: 14px;
      color: white;
      font-weight: bold;
      background-color: #933;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      padding: 1px;
      border: 2px solid white;
      box-shadow: 1px 1px 3px #777;
      -webkit-box-shadow: 1px 1px 3px #777;
      -moz-box-shadow: 1px 1px 3px #777;
      display: block;
      text-align: center;
      float: right;
      font-size: 11px;
      position: relative;
      bottom: -10px;
      right: -10px;
    }
  </style>
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  
</head>
<body>
  <% form_tag project_sprint_scrumboards_path(params[:project_id], @sprint.id), :method => :get do %>
    <%= select_tag "new_sprint_id", options_for_select(@sprints.map {|s| [s.name, s.id]}, @sprint.id) %>
    <%= submit_tag "Change Sprint" %>
    <%= render :partial => 'shared/totals', :locals => {:sprint => @sprint} %>
  <% end %>
  
  <div style="clear:both;"></div>
  
  <table id="dashboard">
    <tr>
      <th></th>
      <% Scrumboard::STATUSES.each do |status| %>
        <th><%= status %></th>
      <% end %>
    </tr>
    <% @scrumboard.developer_boards.each do |developer| %>
      <tr>
        <td class="name"><%= image_or_name_for developer %></td>
        
        <% developer.status_boards.each do |board| %>
        <td>
          <% board.stories.each do |story| %>
            <div class="card story" id="story_<%= story.id %>">
              <%= link_to "#{story.tracker.name} ##{story.id}", story %>: <%= story.subject %> [<%= story.story_points %>pts]
              <% if story.age && story.age != 0 %>
                <span class="counter"><%= story.age %></span>
              <% end %>
            </div>
          <% end %>
          
          <br>
          
          <div style="clear:both"/>
          
          <% board.bugs.each do |story| %>
            <div class="card bug" id="card_<%= dom_id(story) %>">
              <%= link_to "#{story.tracker.name} ##{story.id}", story %>
            </div>
            <span class="card hover" id="hover_<%= dom_id(story) %>"><%= simple_format story.subject %></span>
          <% end %>

          <% board.distractions.each do |story| %>
            <div class="card bug distraction" id="<%= dom_id(story) %>"><%= link_to "#{story.tracker.name} ##{story.id}", story %></div>
            <span class="card hover" id="hover_<%= dom_id(story) %>"><%= simple_format story.subject %></span>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      $(".bug").hover(
        function() {
          $(this).next().show();
        },
        function() {
          $(this).next().hide();
        }
      );
    });
  </script>
</body>