<% content_tag_for :li, story do %>
  <span class="handle">[<%= story.backlog_rank %>]</span>
  <%= story.category %>: 
  <a href="<%= issue_path(story) %>" style="<%= 'color: #900' unless story.ready_for_review? %>">
    <%= h story.subject %>
    <span>
      <strong>#<%= story.id %> <%= story.subject %></strong>
      <hr>
      <%= simple_format h(story.description) %>
    </span>
  </a>
  [<%= story.story_points %> pts]
<% end %>

<%= sortable_element(sortable, :url => sort_project_backlog_path(params[:project_id]), :handle => "handle") %>