<% content_for :header_tags do %>
    <%= stylesheet_link_tag "redmine_scrum", :plugin => "redmine_scrum" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js" %>

    <script type="text/javascript" charset="utf-8">
    var $j = $.noConflict(); 

    $j(function() {
      var sprint = 0;
      var points = 0;
      var velocity = <%= @velocity %>;
      var sprintEndDates = <%= @sprint_end_dates.to_json %>;

      function drawSprints() {
        $j.each($j('#stories').children(), function(index, el) {
          var lastPoints = parseInt($j(el).attr('data-story-points'));
          
          points += lastPoints;

          if (points > parseInt($j('#velocity').val())) {
            var pts = points - lastPoints;
            sprint++;

            $j(el).prev().css("border-bottom", "2px dashed black");
            $j(el).prev().after("<div style='float: right' class='sprint_ids'>Sprint #" + sprint + " (" + pts + " pts) releasing ~ " + sprintEndDates[sprint - 1] + "</div><div class='sprint_ids' style='clear:both'></div>");

            points = 0;
          }
        });
      }
      
      $j('#map_out_sprints').click(function() {
        
        if ($j('#scope').val() != "Estimated") {
          alert("You can only map out estimated stories");
          return;
        }
        
        var state = $j(this).attr('data-state');

        if (state == "map") {
          $j('#map_out_sprints').html("Clear Sprints");
          $j('#map_out_sprints').attr("id", "clear_out_sprints");
          drawSprints();
          $j(this).attr('data-state', 'clear');
        } else if (state == "clear") {
          sprint = 0;
          points = 0;
          $j('#clear_out_sprints').html("Map Out Sprints");
          $j('#clear_out_sprints').attr("id", "map_out_sprints");
          $j('#stories').children().css("border-bottom", "");
          $j('.sprint_ids').remove();
          $j(this).attr('data-state', 'map');
        }
      });

    });
    </script>

<% end %>

<h1><%= @sprint.name %> (<%= @count %> stories)<hr></h1>

<div style="float: left;">

Change sprint:

<% form_tag project_backlog_index_path, :method => :get do %>
  <%= hidden_field_tag "project_id", params[:project_id] %>
  <%= select_tag "sprint_id", options_for_select(@sprints.map {|s| [s.name, s.id]}, @sprint.id) %>
  <%= select_tag "scope", options_for_select(["", "Half Baked", "In Discussion", "Ready to Estimate", "Estimated"], @scope) %>
  <%= select_tag "limit", options_for_select([10, 25, 50, 100, 250, 500, 1000], @limit) %>
  <%= submit_tag "Update List" %>
  
  &nbsp;

  &nbsp;

  <% if @scope == "Estimated" %>
    Velocity: <%= text_field_tag "velocity", @velocity, :id => 'velocity', :style => 'width: 20px' %>
    <%= link_to "Map Out Sprints", "#", :id => 'map_out_sprints', :"data-state" => 'map' %> 
  <% end %>

<% end %>

</div>

<div style="float: right;">
</div>


<br style="clear: both">

<ul id="stories" class="zebra">
  <%= render :partial => "story", :collection => @stories, :locals => {:sortable => "stories"} %>
</ul>




























