<% content_for :header_tags do %>
    <%= stylesheet_link_tag "redmine_scrum", :plugin => "redmine_scrum" %>
<% end %>

<h1><%= @sprint.name %> (<%= @count %> stories)<hr></h1>

<div style="float: left;">

Change sprint:

<% form_tag project_backlog_index_path, :method => :get do %>
  <%= hidden_field_tag "project_id", params[:project_id] %>
  <%= select_tag "sprint_id", options_for_select(@sprints.map {|s| [s.name, s.id]}, @sprint.id) %>
  <%= select_tag "scope", options_for_select(["", "Work in Progress", "Ready for Review"], @scope) %>
  <%= select_tag "limit", options_for_select([10, 25, 50, 100, 250, 500, 1000], @limit) %>
  <%= submit_tag "Update List" %>
<% end %>

</div>

<div style="float: right;">
  <%= link_to "Show upcoming sprints...", upcoming_project_backlog_path %>
</div>


<br style="clear: both">

<ul id="stories" class="zebra">  
  <%= render :partial => "story", :collection => @stories, :locals => {:sortable => "stories"} %>
</ul>

